.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espaço entre os campos de entrada e o botão */
  
    ion-input {
      width: 80%;
      max-width: 300px; /* Ajuste a largura máxima conforme desejado */
      margin-bottom: 10px; /* Espaço entre os campos de entrada */
    }
  }
  
  ion-button {
    margin-top: 20px; /* Espaço entre os campos de entrada e o botão */
  }
  