<ion-header [translucent]="true">
  <!-- ... (código do cabeçalho) ... -->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pizza of listaDePizzas" class="pizza-item">
      <ion-label>{{ pizza.nome }}</ion-label>
      <ion-button fill="clear" (click)="diminuirQuantidade(pizza)">-</ion-button>
      <ion-input type="number" [(ngModel)]="pizza.quantidade" (ionChange)="atualizarTotal()"></ion-input>
      <ion-button fill="clear" (click)="aumentarQuantidade(pizza)">+</ion-button>
      <ion-label>{{ pizza.preco * pizza.quantidade | currency: 'BRL' }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item class="total-item">
    <ion-label>Total de Pizzas:</ion-label>
    <ion-label>{{ quantidadeTotalPizzas }}</ion-label>
  </ion-item>

  <ion-item class="total-item">
    <ion-label>Valor Total a ser Pago:</ion-label>
    <ion-label>{{ valorTotal | currency: 'BRL' }}</ion-label>
  </ion-item>

  <ion-button expand="block" (click)="resetarContagem()" color="danger">Resetar Contagem</ion-button>
</ion-content>
