<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input [(ngModel)]="nomeCompleto" placeholder="Nome Completo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereço Email</ion-label>
      <ion-input [(ngModel)]="userEmail" placeholder="Seu email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input [(ngModel)]="endereco" placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input [(ngModel)]="cep" placeholder="CEP"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Seu telefone</ion-label>
      <ion-input [(ngModel)]="userPhone" placeholder="Seu telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Chave Pix</ion-label>
      <ion-input [(ngModel)]="chavePix" placeholder="Chave Pix"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Botão para salvar as alterações -->
  <ion-button (click)="salvarPerfil()">Salvar</ion-button>
  <!-- Botão para ir para a página de login -->
  <ion-button (click)="irParaLogin()">Ir para o Login</ion-button>
</ion-content>
