<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agradecimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="thank-you-message">
    <h1>Obrigado!</h1>
    <p>Agradecemos por escolher a nossa pizzaria. Seu pedido foi recebido e está em processamento. Em breve, você receberá mais informações sobre a entrega.</p>
    <ion-button expand="block" routerLink="/tabs">Voltar para a página inicial</ion-button>
  </div>
</ion-content>
