<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cardápio
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Cardápio de Pizzas</h1>
  <div class="card-container">      
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 1 -->
          <ion-card class="custom-card">
            <img alt="Pizza Mussarela" src="assets/imagens/pizzamussarela.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Mussarela</ion-card-title>
              <ion-card-subtitle>Mussarela R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
    
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 2 -->
          <ion-card class="custom-card">
            <img alt="Pizza Mussarela" src="assets/imagens/pizzacalabresa.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Calabresa</ion-card-title>
              <ion-card-subtitle>Calabresa R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Cebola, Calabresa, Orégano,
              Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 3 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzafrango.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Frango</ion-card-title>
              <ion-card-subtitle>Frango R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Tomate, Frango, Cebola, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 4 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzapresunto.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Presunto</ion-card-title>
              <ion-card-subtitle>Presunto R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Presunto, Cebola, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 5 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzaportuguesa.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Portuguêsa</ion-card-title>
              <ion-card-subtitle>Portuguêsa R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Presunto, Ervilha, Milho, Pimentão, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 6 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzaquatroqueijos.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza 4 Queijos</ion-card-title>
              <ion-card-subtitle>4 Queijos R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Catupiry, Cheddar, Parmesão, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 7 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzafrangocomcheddar.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Frango C/ Cheddar</ion-card-title>
              <ion-card-subtitle>Frango C/ Cheddar R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Frango, Cheddar, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Conteúdo da coluna 8 -->
          <ion-card class="custom-card">
            <img alt="Pizza Frango" src="assets/imagens/pizzafrangocomcatupiry.jpg"/>
            <ion-card-header>
              <ion-card-title>Pizza Frango C/ Catupiry</ion-card-title>
              <ion-card-subtitle>Frango C/ Catupiry R$22,00</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Molho, Mussarela, Frango, Catupiry, Tomate, Orégano, Azeitona.
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
  </div>
  

  <!-- Botão para ir para a página de pagamento -->
  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button (click)="irParaPagamento()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button (click)="irParaPagamento()">Faça já o seu Pedido</ion-button>
</ion-content>
