.custom-card {
    width: 2500px; /* Defina a largura desejada */
    height: auto; /* Defina a altura desejada */
    text-align: justify;

    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
h1{
  text-align: center;
  font-size: 45px;
}
  