<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Promoções de cada Dia</h1>
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="caminho_da_imagem1.jpg" alt="Imagem 1">
      <ion-card-header>
        <ion-card-title>Domingo Do Clone</ion-card-title>
        <ion-card-subtitle>Presunto R$23,90</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Compre duas pizzas repetidas do mesmo sabor e ganhe uma SUPER PROMOÇÃO
      </ion-card-content>
    </ion-card>

    <ion-card class="custom-card">
      <img src="caminho_da_imagem2.jpg" alt="Imagem 2">
      <ion-card-header>
        <ion-card-title>Pizza Presunto</ion-card-title>
        <ion-card-subtitle>Presunto R$22,00</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Descrição da promoção ou detalhes adicionais aqui...
      </ion-card-content>
    </ion-card>

    <!-- Adicione mais cards conforme necessário -->
  </div>
</ion-content>
