<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Promoções de cada Dia</h1>
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/imagens/pizzaclone.jpg" alt="Imagem 3">
      <ion-card-header>
        <ion-card-title>Clonou</ion-card-title>
        <ion-card-subtitle>Na compra de duas pizzas, ganhe um refri 1L grátis!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Promoção válida nas Terças, Quintas e Domingos.
      </ion-card-content>
      <ion-button expand="block" routerLink="/tab2">Ver mais</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/imagens/pizzapromocao.webp" alt="Imagem 4">
      <ion-card-header>
        <ion-card-title>Day Off</ion-card-title>
        <ion-card-subtitle>Compre duas pizzas, leve quatro pelo preço de duas!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Promoção válida nas Quarta, Sexta e Sábado.
      </ion-card-content>
      <ion-button expand="block" routerLink="/tab2">Ver mais</ion-button>
    </ion-card>

    <!-- Adicione mais cards conforme necessário -->
  </div>
</ion-content>
