<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Estabelecimentos - Recife</h1>
  <div class="card-container">
    <ion-card class="custom-card">
      <img src="assets/imagens/estabelecimento1.jpg" alt="Estabelecimento">
      <ion-card-header>
        <ion-card-title>Unidade Espinheiro</ion-card-title>
        <ion-card-subtitle>Av. Rui Barbosa, 500 - Graças, Recife - PE, 52011-040</ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="block" href="https://www.google.com/maps/place/Restaurante+e+Pizzaria+Atlântico/
      @-8.0488036,-34.9125433,14z/data=!4m10!1m2!2m1!1sPizzaria+Atlântico+%7C+Unidade+Espinheiro!3m6!1s0x7ab18e4ecfce11
      9:0x13ad0b9d16d8e5a0!8m2!3d-8.0475288!4d-34.899497!15sCihQaXp6YXJpYSBBdGzDom50aWNvIHwgVW5pZGFkZSBFc3BpbmhlaXJvIgOIA
      QFaKCImcGl6emFyaWEgYXRsw6JudGljbyB1bmlkYWRlIGVzcGluaGVpcm-SARBwaXp6YV9yZXN0YXVyYW50mgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVU0yYWkxaWIwdG5FQUXgAQA!16s%2Fg%2F1ptxr2wf4?entry=ttu" target="_blank">Ver no Maps</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/imagens/estabelecimento2.jpg" alt="Estabelecimento">
      <ion-card-header>
        <ion-card-title>Unidade Paissandu</ion-card-title>
        <ion-card-subtitle>R. do Paissandú, 667 - Paissandu, Recife - PE, 50070-200</ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="block" href="https://www.google.com/maps/place/Pizzaria+Atlântico+%7C+Unidade+Paissandu/@-8.0623732,-34.8991749,17z/data=!3m1!4b1!4m6!3m5!1s0x7ab18da4e9dd095:0x5563a35ec44e72ba!8m2!3d-8.0623732!4d-34.8991749!16s%2Fg%2F11b6hv3g47?entry=ttu" target="_blank">Ver no Maps</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/imagens/estabelecimento3.jpg" alt="Estabelecimento">
      <ion-card-header>
        <ion-card-title>Unidade Av Recife</ion-card-title>
        <ion-card-subtitle>Av. Recife, 2677 - Ipsep, Recife - PE, 50110-727</ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="block" href="https://www.google.com/maps/place/Restaurante+e+Pizzaria+Atlântico/@-8.1111707,-34.9263442,17z/data=!3m1!4b1!4m6!3m5!1s0x7ab1e9543705bd5:0xd12dc3c3931b311d!8m2!3d-8.1111707!4d-34.9263442!16s%2Fg%2F1ptypy64d?entry=ttu" target="_blank">Ver no Maps</ion-button>
    </ion-card>

    <ion-card class="custom-card">
      <img src="assets/imagens/estabelecimento4.jpg" alt="Estabelecimento">
      <ion-card-header>
        <ion-card-title>Unidade Shopping Rio Mar</ion-card-title>
        <ion-card-subtitle>Av. República do Líbano, 251 - Pina, Recife - PE, 51110-160</ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="block" href="https://www.google.com/maps/place/Restaurante+e+Pizzaria+Atlântico+Express/@-8.0876602,-34.9135501,14z/data=!3m1!5s0x7ab1f3b239d5b27:0x90fcc192a5d41f82!4m10!1m2!2m1!1sPizzaria+Atlântico+%7C+Unidade+Casa+Amarela!3m6!1s0x7ab1f3b26b52dd3:0x2aae1fe673d0f3b7!8m2!3d-8.0855995!4d-34.894603!15sCipQaXp6YXJpYSBBdGzDom50aWNvIHwgVW5pZGFkZSBDYXNhIEFtYXJlbGEiA4gBAVoqIihwaXp6YXJpYSBhdGzDom50aWNvIHVuaWRhZGUgY2FzYSBhbWFyZWxhkgEQcGl6emFfcmVzdGF1cmFudOABAA!16s%2Fg%2F11bx1yt2w_?entry=ttu" target="_blank">Ver no Maps</ion-button>
    </ion-card>

    <!-- Adicione mais cards conforme necessário -->
  </div>
</ion-content>
