// Personalizando o estilo dos títulos das páginas
ion-title {
    font-size: 24px; // Tamanho da fonte
    font-weight: bold; // Peso da fonte
    color: #333; // Cor do texto do título
    // Outras propriedades de estilo conforme necessário
  }
  // Tema dos tabs
ion-tab-bar {
    --color: #fff; // Cor do texto dos ícones
    --background: #333; // Cor de fundo dos tabs
    --border-color: #666; // Cor da borda dos tabs
  }
  
  ion-tab-button {
    --color-selected: #fff; // Cor do texto do tab selecionado
    --color-default: #ccc; // Cor do texto do tab não selecionado
    --background-selected: #000; // Cor de fundo do tab selecionado
    --background-focused: #111; // Cor de fundo do tab em foco
  }
  