// Cores
$cor-primaria: #FF6347; // Vermelho
$cor-secundaria: #FFEFD5; // Amarelo claro

// Fontes
$fonte-titulo: 'Roboto', sans-serif;
$fonte-corpo: 'Arial', sans-serif;

// Tamanhos
$tamanho-texto: 16px;
$tamanho-titulo: 24px;
